*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    
}
.main{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.first-div{
    background-color: #604a37;
    width: 45vw;
    height: 100vh;
    display: flex;
    position: relative;
}
.scroll{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 25%;
    left: -20%;
    transform: rotate(90deg);
    /* background-color: rgb(121, 126, 131); */
    border-radius: 50px;
}
.line{
    width: 200px;
    height: 2px;
    background-color: #32353A;
}
.scroll h4{
    font-size: 1.5vw;
    color: rgb(141, 136, 130);
}
.nav{
    background-color: rgb(113, 101, 85);
    width: 50vw;
    height: 6vh;
}
.nav{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 50px;
}
#img{
    border-radius: 50px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 60vh;
    position: absolute;
}
.bottom{
    display: flex;
    /* background-color: azure; */
    width: 250px;
    height: 90px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border-radius: 50px; */
    
}
.head{
    font-size: 1.5vw;
    padding: 0px 15px 0px 0px; 
    color: rgb(13, 21, 28);
    line-height: 30px;
}
.para{
    text-align: justify;
    color: rgb(223, 197, 163);
    font-weight: 300;
    font-size: 1.2vw;
}

.sec-div{
    background-color: #604a37;
    width: 45vw;
    height: 100vh;
}
#img2{
    width: 45vw;
    height: 100vh;
}
.mtext{
    text-align: center;
    width: 30vw;
    color: #60574c;
    position: absolute;
    z-index: 99;
    top: 70%;
    bottom: 50%;
    left: 35%;
    /* transform: translate(-50%,-50%); */
}
.mtext h1{
    border-radius: 50px;
    background-color: #e3d2bf;
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    z-index: 999;
}
.third-div{
    background-color: rgb(85, 67, 45);
    width: 10vw;
    height: 100vh;
    position: relative;
}
.card{
    background-color: #60574c;
    width: 15vw;
    height: 19vh;
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 999;
    display: flex;
}
.side-icon i{
    color: aliceblue;
}
#img1{
    background-color: #ae8858;
    width: 85vw;
    height: 100%;
    background-image: url(./small\ photo.jpg);
    background-position: center;
    background-size: cover;
}
#icon{
    background-color: #a08360;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.side-icon{
    padding: 0px 0px 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.headings{
    /* background-color: #ae8858; */
    width: 8vw;
    height: 500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: end;
    /* gap: 30px; */


}
.headings li{
    transform: rotate(90deg);
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 1.3vw;
}


